<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Generator</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="text-center my-4">Text Generator</h1>
                <p class="text-center description">Upload an image to generate text.</p>
                <form action="/" method="POST" enctype="multipart/form-data" class="text-center">
                    <div class="form-group">
                        <input type="file" name="file" id="file-input" class="form-control-file mb-3" onchange="previewImage(event)">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <div id="image-preview" class="mt-4 text-center">
                    <h2>Image Preview:</h2>
                    <img id="preview" src="" alt="Image Preview" class="uploaded-image" style="display: none;">
                </div>
                {% if caption %}
                <div id="generated-text" class="mt-4 text-center">
                    <h2>Generated Text:</h2>
                    <p>{{ caption }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function() {
                var output = document.getElementById('preview');
                output.src = reader.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>
</html>
